html{
  height: -webkit-fill-available;
}
body,* {
    margin:0%;
    padding: 0%;
    
}
header{
    height: 253px;
    width: 100%;
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.template {
width: 100vw;
height: 100vh;
background-color:#535c68;
position: relative;
overflow: hidden;


} 
nav {
width: 100vw;
height: 27vh;
background-color:transparent;
position: fixed;
display: flex;
align-items: top;
justify-content: space-around;
}
.nav-container{
    height: 50px;
    width: 100vw;
    background-color: transparent;
    margin-left: 70%;
    text-align: left;
}
.nav-text , li {
    font-size: 40px;
    color: wheat;
    float: left;
    text-align:center;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}
.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;
}
#section1 {
    height: 253px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
    height: 250px;
    width: 250px;
    background-color: bisque;
    border-radius: 50%;

}
.img-container > #selfie {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;

}
.namecard {
    align-self: center;
}
.Intro {
    text-align: center;
}
#about-Intro{
  text-align: center;
  background-color: #4b6584;
  height: 50vh;
  width: 100vh;
  align-self: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
}

table, tr {
    background-color: #3d3d3d;
    border: 2px solid;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 95vw;
  }
  td {
    background-color: #3d3d3d;
    border: 2px solid;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 90vw;
  }
  td:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);
  }
  th {
    border: 0px;
    background-color: #3d3d3d;;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 95vw;
  }
  #titletable {
    width: 100vw;
    width: 100%;
    height: auto;
  }
    .imagethclass {
      background-color: #3d3d3d;;
      border: 2px solid;
    }
    #imageth13:hover, #imageth14:hover {
      background-color: #718093;
      cursor:pointer;
      transform: scale(1.5);;
      
    }
  
  h2 {
    font-size: 30px;
    text-align: center;
    background-color: green;
  }
  .skills {
    grid-area:main;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    height: 500px;
    width: 800px;
    width: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Lato:300");
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .wrap-circles {
    display: flex;
    min-height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background: #535c68;
  }
  
  .circle {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    border-radius: 50%;
    background: white;
    overflow: hidden;
  }
  .circle.per-25 {
    background-image: conic-gradient(#C9AB7E 25%,white 0);
  }
  .circle.per-50 {
    background-image: conic-gradient(#C9AB7E 50%, white 0);
  }
  .circle.per-75 {
    background-image: conic-gradient(#C9AB7E 75%, white 0);
  }
  .circle.per-100 {
    background-image: conic-gradient(#C9AB7E 100%, white 0);
  }
  .circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: #000;
    border-radius: 50%;
    font-size: 2.40em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
  }
  .circle:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  p{
    font-size: 15px;
  }
  h5 {
    font-size: 15x;
  }
 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c8d6e5;
    background-color:#3d3d3d;
 }
 #second-template {
    background-color:#2f3640;
}
.myname {
  background-color: #afafaf;
  height: 60vh;
  width: 110vh;
  align-self: center;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
}
h3{
  font-size: 38px;
  color: rgb(12, 10, 5);
  font: Georgia;
}
.myworktext {
  font-size: 50px;
  color:burlywood;
}
.imageholder {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

#imageholder2{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder3{
  height: 20vh;
  width:22vw;
  display: block;
  margin: 0 auto;
}
#imageholder4{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder5{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder6{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder7{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder8{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder1{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder9{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder10{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder11{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder12{
  height: 20vh;
  width: 10vw;
  display: block;
  margin: 0 auto;
}
#imageholder13{
  height: 20vh;
  width: 15vw;
  display: block;
  margin: 0 auto;
}
#imageholder14{
  height: 20vh;
  width: 15vw;
  display: block;
  margin: 0 auto;
  
}

.footer {
  position: relative;
  width: 100vw;
  height: 20vh;
  background: #7f8c8d;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: #3d3d3d;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  color: #3d3d3d;

}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

@media (min-width:320px)  { 
  
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }