html{
  height: -webkit-fill-available;
}
body,* {
    margin:0%;
    padding: 0%; 
}
header{
    height: 253px;
    width: 100%;
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.template {
width: 100vw;
height: 100vh;
background-color:#535c68;
position: relative;
overflow: hidden;


} 
nav {
width: 100vw;
height: 27vh;
background-color:transparent;
position: fixed;
display: flex;
align-items: top;
justify-content: space-around;
}
.nav-container{
    height: 50px;
    width: 100vw;
    background-color: transparent;
    margin-left: 70%;
    text-align: left;
}
.nav-text , li {
    font-size: 40px;
    color: wheat;
    float: left;
    text-align:center;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}
.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;
}
#section1 {
    height: 253px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
    height: 250px;
    width: 250px;
    background-color: bisque;
    border-radius: 50%;
}
.img-container > #selfie {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
}
.namecard {
    align-self: center;
}
.Intro {
    text-align: center;
}
#about-Intro{
  text-align: center;
  background-color: #8897aa;
  height: 410px;
  width: 850px;
  align-self: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
}

table, tr {
    background-color: #3d3d3d;
    border: 2px solid;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 95vw;
  }
  td {
    background-color: #3d3d3d;
    border: 2px solid;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 90vw;
  }
  td:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);
  }
  th {
    border: 0px;
    background-color: #3d3d3d;;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 95vw;
  }
  #titletable {
    width: 100vw;
    width: 100%;
    height: auto;
  }
    .imagethclass {
      background-color: #3d3d3d;;
      border: 2px solid;
    }
    #imageth13:hover, #imageth14:hover {
      background-color: #718093;
      cursor:pointer;
      transform: scale(1.5);;
      
    }
  
  h2 {
    font-size: 30px;
    text-align: center;
    background-color: transparent;
  }
  .skills {
    grid-area:main;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    height: 500px;
    width: 800px;
    width: 100%;
    background-color:transparent;
    display: flex;
    justify-content: center;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Lato:300");
  *, *::before, *::after {
    box-sizing: border-box;
  }
  .wrap-circles {
    display: flex;
    min-height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background: #535c68;
  }
  
  .circle {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    border-radius: 50%;
    background: white;
    overflow: hidden;
  }
  .circle.per-25 {
    background-image: conic-gradient(#C9AB7E 25%,white 0);
  }
  .circle.per-50 {
    background-image: conic-gradient(#C9AB7E 50%, white 0);
  }
  .circle.per-75 {
    background-image: conic-gradient(#C9AB7E 75%, white 0);
  }
  .circle.per-100 {
    background-image: conic-gradient(#C9AB7E 100%, white 0);
  }
  .circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: #000;
    border-radius: 50%;
    font-size: 2.40em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
  }
  .circle:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  p{
    font-size: 15px;
  }
  h5 {
    font-size: 15x;
  }
 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #c8d6e5;
    background-color:#3d3d3d;
 }
 #second-template {
    background-color:#2f3640;
}
.myname {
  background-color: #afafaf;
  height: 60vh;
  width: 110vh;
  align-self: center;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
}
h3{
  font-size: 38px;
  color: rgb(12, 10, 5);
  font: Georgia;
}
.myworktext {
  font-size: 50px;
  color:burlywood;
}
.imageholder {
  height: 1000px;
  width: 1000px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.imageholder2 {
  height: 198px;
  width: 198px;
  display: block;
  margin: 0 auto;
}
#imageholder3{
  height: 200px;
  width:415px;
  display: block;
  margin: 0 auto;
}
.footer {
  position: relative;
  width: 100vw;
  height: 20vh;
  background: #7f8c8d;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: #3d3d3d;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
  color: #3d3d3d;

}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
aside {
  position: center;
  height:100vh;
  width: 100vw;
}
#bookpic {
  height: 580px;
  width: 450px;
  align-self: center;
  position: absolute;
  top: 60%;
  right: 57%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:none;
}
#bookpic:hover {
  background-color:transparent;
  cursor: pointer;
  display: flex;
  border: 1px black;
  position: absolute;
  transition: .3s ease;
  overflow: hidden;

 z-index: 1;
}
#DIV--TITLE {
    height: 580px;
    width: 300px;
    align-self: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    background-color: transparent;
}
#DIV--ABOUT {
  font-size: 70px;
}
#DIV--ABOUT:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  header{
    height: 10px;
   
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #ffffff;
}
.template {
  width: 100vw;
  height: 100vh;
  background-color:#535c68;
  position: relative;
  overflow: hidden;
  } 
  nav {
    width: 750px;
    height: 950px;
    background-color:transparent;
    position: fixed;
    display: flex;
    align-items: top;
    justify-content: space-around;
    }
    .nav-container{
        height: 10px;
        width: 50px;
        background-color: transparent;
        text-align: left;
        margin-left: -550%;
        margin-top: 80%;
    }
    .nav-text , li {
      font-size: 10px;
      background-color: transparent;
      color: wheat;
      float: center;
      text-align:center;
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      list-style-type: none;
  }
  .ulmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;
}
#section1 {
 height: 280px;
  width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
    height: 170px;
    width: 170px;
    background-color: bisque;
    border-radius: 50%;
    margin-bottom:-155px;
}
.img-container > #selfie {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
}
.namecard {
  align-self: center;
  height: 80px;
  width: 80px;
}
#namecardid{
  height: 150px;
  width: 300px;
  margin-top: 30%;
}
.skillset{
  margin-top: 10%;
}
.Intro {
  text-align: center;
}
#about-Intro{
text-align: center;
background-color: #8897aa;
height: 100px;
width: 300px;
align-self: center;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h2 {
  font-size: 35px;
  text-align: center;
  background-color: grey;
  margin-top: 20;
}
.skills {
  grid-area:main;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  height: 500px;
  width: 800px;
  width: 100%;
  background-color:transparent;
  display: flex;
  justify-content: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrap-circles {
  display: flex;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #535c68;
}

.circle {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0.5rem;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#C9AB7E 25%,white 0);
}
.circle.per-50 {
  background-image: conic-gradient(#C9AB7E 50%, white 0);
}
.circle.per-75 {
  background-image: conic-gradient(#C9AB7E 75%, white 0);
}
.circle.per-100 {
  background-image: conic-gradient(#C9AB7E 100%, white 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  background: #000;
  border-radius: 50%;
  font-size: 0.90em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
.circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}
p{
  font-size: 12px;
}
h5 {
  font-size: 15x;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #c8d6e5;
  background-color:#3d3d3d;
}
#second-template {
  background-color:#2f3640;
}
.myname {
background-color: #afafaf;
height: 700px;
width: 800px;
align-self: center;
position: absolute;
top: 88%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h3{
font-size: 33px;
color: rgb(12, 10, 5);
font: Georgia;
}
table, tr {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 1200px;
}
td {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 900px;
}
td:hover {
  background-color: #718093;
  cursor:pointer;
  transform: scale(1.5);
}
th {
  border: 0px;
  background-color: #3d3d3d;;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 95vw;
}
#titletable {
  width: 100vw;
  width: 100%;
  height: auto;
}
  .imagethclass {
    background-color: #3d3d3d;;
    border: 2px solid;
  }
  #imageth13:hover, #imageth14:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);;
    
  }
.myworktext {
font-size: 40px;
color:burlywood;
}
.imageholder {
height: 1000px;
width: 1000px;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
}
.imageholder2 {
height: 180px;
width: 180px;
display: block;
margin: 0 auto;
}
#imageholder3{
height:200px;
width:350px;
display: block;
margin: 0 auto;
}
aside {
  position: center;
  height:100vh;
  width: 100vw;
}
#bookpic {
  height: 480px;
  width: 350px;
  align-self: center;
  position: absolute;
  top: 60%;
  right: 57%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:none;
}
#bookpic:hover {
  background-color:transparent;
  cursor: pointer;
  display: flex;
  border: 1px black;
  position: absolute;
  transition: .3s ease;
  overflow: hidden;

 z-index: 1;
}
#DIV--TITLE {
    height: 480px;
    width: 200px;
    align-self: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    background-color: transparent;
}
#DIV--ABOUT {
  font-size: 50px;
}
#DIV--ABOUT:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}
#about-Intro{
  text-align: center;
  background-color: #8897aa;
  height: 380px;
  width: 700px;
  align-self: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  header{
    height: 10px;
   
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #ffffff;
}
.template {
  width: 100vw;
  height: 100vh;
  background-color:#535c68;
  position: relative;
  overflow: hidden;
  } 
  nav {
  width: 10000px;
  height: 110px;
  background-color:transparent;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: space-around;
  }
  .nav-container{
      height: 10px;
      width: 95px;
      background-color: transparent;
      text-align: left;
      margin-left:-180%;
      margin-top: 10%;
      
  }
  .nav-text {
    font-size: 10px;
    background-color: transparent;
    height: 10px;
    color: wheat;
    float: center;
    text-align:center;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    margin-top: 50px;
    
}
.li--class{
  height: 10px;
  width: 200px;
}
.ulmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;

}
#section1 {
 height: 280px;
  width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
    height: 90px;
    width: 90px;
    background-color: bisque;
    border-radius: 50%;
    margin-top:-05%;
}
.img-container > #selfie {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
}
.namecard {
  align-self: center;
  height: 100px;
  width: 100px;
}
#namecardid{
  height: 120px;
  width: 250px;
  margin-top: 30%;
}
.skillset{
  margin-top: 10%;
}
.Intro {
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
  background-color: grey;
  margin-top: 20;
}
.skills {
  grid-area:main;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  height: 500px;
  width: 800px;
  width: 100%;
  background-color:transparent;
  display: flex;
  justify-content: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrap-circles {
  display: flex;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #535c68;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#C9AB7E 25%,white 0);
}
.circle.per-50 {
  background-image: conic-gradient(#C9AB7E 50%, white 0);
}
.circle.per-75 {
  background-image: conic-gradient(#C9AB7E 75%, white 0);
}
.circle.per-100 {
  background-image: conic-gradient(#C9AB7E 100%, white 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 50%;
  font-size: 0.90em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
.circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}
p{
  font-size: 12px;
}
h5 {
  font-size: 15x;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #c8d6e5;
  background-color:#3d3d3d;
}
#second-template {
  background-color:#2f3640;
}
.myname {
background-color: #afafaf;
height: 760px;
width: 800px;
align-self: center;
position: absolute;
top: 88%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h3{
font-size: 33px;
color: rgb(12, 10, 5);
font: Georgia;
}
table, tr {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 950px;
}
td {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 900px;
}
td:hover {
  background-color: #718093;
  cursor:pointer;
  transform: scale(1.5);
}
th {
  border: 0px;
  background-color: #3d3d3d;;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 95vw;
}
#titletable {
  width: 100vw;
  width: 100%;
  height: auto;
}
  .imagethclass {
    background-color: #3d3d3d;;
    border: 2px solid;
  }
  #imageth13:hover, #imageth14:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);;
    
  }
.myworktext {
font-size: 40px;
color:burlywood;
}
.imageholder {
height: 1000px;
width: 1000px;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
}
.imageholder2 {
height: 188px;
width: 180px;
display: block;
margin: 0 auto;
}
#imageholder3{
height:150px;
width:300px;
display: block;
margin: 0 auto;
}
aside {
  position: center;
  height:100vh;
  width: 100vw;
}
#bookpic {
  height: 480px;
  width: 350px;
  align-self: center;
  position: absolute;
  top: 60%;
  right: 57%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:none;
}
#bookpic:hover {
  background-color:transparent;
  cursor: pointer;
  display: flex;
  border: 1px black;
  position: absolute;
  transition: .3s ease;
  overflow: hidden;

 z-index: 1;
}
#DIV--TITLE {
    height: 480px;
    width: 200px;
    align-self: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    background-color: transparent;
}
#DIV--ABOUT {
  font-size: 50px;
}
#DIV--ABOUT:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}
#about-Intro{
  text-align: center;
  background-color: #8897aa;
  height: 380px;
  width: 700px;
  align-self: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
  }
}



/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  header{
    height: 10px;
   
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #ffffff;
}
.template {
  width: 100vw;
  height: 100vh;
  background-color:#535c68;
  position: relative;
  overflow: hidden;
  } 
  nav {
  width: 10000px;
  height: 110px;
  background-color:transparent;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: space-around;
  }
  .nav-container{
      height: 10px;
      width: 95px;
      background-color: transparent;
      text-align: left;
      margin-left:-180%;
      margin-top: 10%;
      
  }
  .nav-text {
    font-size: 10px;
    background-color: transparent;
    height: 10px;
    color: wheat;
    float: center;
    text-align:center;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    margin-top: 50px;
    
}
.li--class{
  height: 10px;
  width: 200px;
}
.ulmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;

}
#section1 {
 height: 280px;
  width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
  height: 90px;
  width: 90px;
  background-color: bisque;
  border-radius: 50%;
  margin-top:-07%;
}
.img-container > #selfie {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid;
}

.namecard {
  align-self: center;
  height: 70px;
  width: 70px;
}
#namecardid{
  height: 90px;
  width: 180px;
  margin-top: 30%;
}
.skillset{
  margin-top: 07%;
}
.Intro {
  text-align: center;
}
#about-Intro{
text-align: center;
background-color: #8897aa;
height: 100px;
width: 300px;
align-self: center;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h2 {
  font-size: 35px;
  text-align: center;
  background-color: grey;
  margin-top: 20;
}
.skills {
  grid-area:main;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  height: 500px;
  width: 800px;
  width: 100%;
  background-color:transparent;
  display: flex;
  justify-content: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrap-circles {
  display: flex;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #535c68;
}

.circle {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0.5rem;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#C9AB7E 25%,white 0);
}
.circle.per-50 {
  background-image: conic-gradient(#C9AB7E 50%, white 0);
}
.circle.per-75 {
  background-image: conic-gradient(#C9AB7E 75%, white 0);
}
.circle.per-100 {
  background-image: conic-gradient(#C9AB7E 100%, white 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  height: 95px;
  background: #000;
  border-radius: 50%;
  font-size: 1.25em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
.circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}
p{
  font-size: 12px;
}
h5 {
  font-size: 15x;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #c8d6e5;
  background-color:#3d3d3d;
}
#second-template {
  background-color:#2f3640;
}
.myname {
background-color: #afafaf;
height: 850px;
width: 700px;
align-self: center;
position: absolute;
top: 88%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h3{
font-size: 33px;
color: rgb(12, 10, 5);
font: Georgia;
}
table, tr {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 950px;
}
td {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 900px;
}
td:hover {
  background-color: #718093;
  cursor:pointer;
  transform: scale(1.5);
}
th {
  border: 0px;
  background-color: #3d3d3d;;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 95vw;
}
#titletable {
  width: 100vw;
  width: 100%;
  height: auto;
}
  .imagethclass {
    background-color: #3d3d3d;;
    border: 2px solid;
  }
  #imageth13:hover, #imageth14:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);;
    
  }
.myworktext {
font-size: 40px;
color:burlywood;
}
.imageholder {
height: 1000px;
width: 1000px;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
}
.imageholder2 {
height: 188px;
width: 180px;
display: block;
margin: 0 auto;
}
#imageholder3{
height:155px;
width:300px;
display: block;
margin: 0 auto;
}
aside {
  position: center;
  height:100vh;
  width: 100vw;
}
#bookpic {
  height: 480px;
  width: 350px;
  align-self: center;
  position: absolute;
  top:60%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:none;

}
#bookpic:hover {
  background-color:transparent;
  cursor: pointer;
  display: flex;
  border: 1px black;
  position: absolute;
  transition: .3s ease;
  overflow: hidden;
  
 z-index: 1;
}
#DIV--TITLE {
    height: 480px;
    width: 200px;
    align-self: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    background-color: transparent;
}
#DIV--ABOUT {
  font-size: 50px;
}
#DIV--ABOUT:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}
#about-Intro{
  text-align: center;
  background-color: #8897aa;
  height: 580px;
  width: 500px;
  align-self: center;
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
  }
  aside {
    position: center;
    height:100vh;
    width: 100vw;
  }
  #bookpic {
    height: 480px;
    width: 350px;
    align-self: center;
    position: absolute;
    top:60%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
  
  }
  #bookpic:hover {
    background-color:transparent;
    cursor: pointer;
    display: flex;
    border: 1px black;
    position: absolute;
    transition: .3s ease;
    overflow: hidden;
    
   z-index: 1;
  }
  #DIV--TITLE {
      height: 480px;
      width: 200px;
      align-self: center;
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      border:none;
      background-color: transparent;
  }
  #DIV--ABOUT {
    font-size: 50px;
  }
  #DIV--ABOUT:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  #about-Intro{
    text-align: center;
    background-color: #8897aa;
    height: 580px;
    width: 500px;
    align-self: center;
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:5px solid;
    }
}


/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  header{
    height: 10px;
   
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #ffffff;
}
.template {
  width: 100vw;
  height: 100vh;
  background-color:#535c68;
  position: relative;
  overflow: hidden;
  } 
  nav {
  width: 10000px;
  height: 110px;
  background-color:transparent;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: space-around;
  }
  .nav-container{
      height: 10px;
      width: 95px;
      background-color: transparent;
      text-align: left;
      margin-left:-180%;
      margin-top: 10%;
      
  }
  .nav-text {
    font-size: 10px;
    background-color: transparent;
    height: 10px;
    color: wheat;
    float: center;
    text-align:center;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    margin-top: 50px;
    
}
.li--class{
  height: 10px;
  width: 200px;
}
.ulmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;

}
#section1 {
 height: 280px;
  width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
  height: 90px;
  width: 90px;
  background-color: bisque;
  border-radius: 50%;
  margin-top:-09%;
}
.img-container > #selfie {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid;

}
.namecard {
  align-self: center;
  height: 70px;
  width: 70px;
}
#namecardid{
  height: 90px;
  width: 180px;
  margin-top: 30%;
}
.skillset{
  margin-top: 15%;
}
.Intro {
  text-align: center;
}
#about-Intro{
text-align: center;
background-color: #8897aa;
height: 100px;
width: 300px;
align-self: center;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h2 {
  font-size: 15px;
  text-align: center;
  background-color: grey;
  margin-top: 20;
}
.skills {
  grid-area:main;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  height: 500px;
  width: 800px;
  width: 100%;
  background-color:transparent;
  display: flex;
  justify-content: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrap-circles {
  display: flex;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #535c68;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#C9AB7E 25%,white 0);
}
.circle.per-50 {
  background-image: conic-gradient(#C9AB7E 50%, white 0);
}
.circle.per-75 {
  background-image: conic-gradient(#C9AB7E 75%, white 0);
}
.circle.per-100 {
  background-image: conic-gradient(#C9AB7E 100%, white 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: #000;
  border-radius: 50%;
  font-size: 0.90em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
.circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}
p{
  font-size: 12px;
}
h5 {
  font-size: 15x;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #c8d6e5;
  background-color:#3d3d3d;
}
#second-template {
  background-color:#2f3640;
}
.myname {
background-color: #afafaf;
height: 900px;
width: 700px;
align-self: center;
position: absolute;
top: 88%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h3{
font-size: 33px;
color: rgb(12, 10, 5);
font: Georgia;
}
table, tr {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 700px;
}
td {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 900px;
}
td:hover {
  background-color: #718093;
  cursor:pointer;
  transform: scale(1.5);
}
th {
  border: 0px;
  background-color: #3d3d3d;;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 95vw;
}
#titletable {
  width: 100vw;
  width: 100%;
  height: auto;
}
  .imagethclass {
    background-color: #3d3d3d;;
    border: 2px solid;
  }
  #imageth13:hover, #imageth14:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);;
    
  }
.myworktext {
font-size: 20px;
color:burlywood;
}
.imageholder {
height: 1000px;
width: 1000px;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
}
.imageholder2 {
height: 150px;
width: 150px;
display: block;
margin: 0 auto;
}
#imageholder3{
height:110px;
width:210px;
display: block;
margin: 0 auto;
}
aside {
  position: center;
  height:100vh;
  width: 100vw;
}
#bookpic {
  height: 480px;
  width: 350px;
  align-self: center;
  position: absolute;
  top:60%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:none;

}
#bookpic:hover {
  background-color:transparent;
  cursor: pointer;
  display: flex;
  border: 1px black;
  position: absolute;
  transition: .3s ease;
  overflow: hidden;
  
 z-index: 1;
}
#DIV--TITLE {
    height: 480px;
    width: 200px;
    align-self: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    background-color: transparent;
}
#DIV--ABOUT {
  font-size: 50px;
}
#DIV--ABOUT:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}
#about-Intro{
  text-align: center;
  background-color: #8897aa;
  height: 570px;
  width: 440px;
  align-self: center;
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  header{
    height: 10px;
   
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #ffffff;
}
.template {
  width: 100vw;
  height: 100vh;
  background-color:#535c68;
  position: relative;
  overflow: hidden;
  } 
  nav {
  width: 10000px;
  height: 110px;
  background-color:transparent;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: space-around;
  }
  .nav-container{
      height: 10px;
      width: 95px;
      background-color: transparent;
      text-align: left;
      margin-left:-180%;
      margin-top: 10%;
      
  }
  .nav-text {
    font-size: 10px;
    background-color: transparent;
    height: 10px;
    color: wheat;
    float: center;
    text-align:center;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    margin-top: 50px;
    
}
.li--class{
  height: 10px;
  width: 200px;
}
.ulmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;
}
#section1 {
 height: 280px;
  width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
  height: 90px;
  width: 90px;
  background-color: bisque;
  border-radius: 50%;
  margin-top:-10%;
}
.img-container > #selfie {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid;
}
.namecard {
  align-self: center;
  height: 70px;
  width: 70px;
}
#namecardid{
  height: 100px;
  width: 200px;
  margin-top: 30%;
}
.skillset{
  margin-top: 15%;
}
.Intro {
  text-align: center;
}
#about-Intro{
text-align: center;
background-color: #8897aa;
height: 100px;
width: 300px;
align-self: center;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h2 {
  font-size: 23px;
  text-align: center;
  background-color: grey;
  margin-top: 20;
}
.skills {
  grid-area:main;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  height: 500px;
  width: 800px;
  width: 100%;
  background-color:transparent;
  display: flex;
  justify-content: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrap-circles {
  display: flex;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #535c68;
}

.circle {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0.5rem;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#C9AB7E 25%,white 0);
}
.circle.per-50 {
  background-image: conic-gradient(#C9AB7E 50%, white 0);
}
.circle.per-75 {
  background-image: conic-gradient(#C9AB7E 75%, white 0);
}
.circle.per-100 {
  background-image: conic-gradient(#C9AB7E 100%, white 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: #000;
  border-radius: 50%;
  font-size: 1.10em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
.circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}
p{
  font-size: 10px;
}
h5 {
  font-size: 15x;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #c8d6e5;
  background-color:#3d3d3d;
}
#second-template {
  background-color:#2f3640;
}
.myname {
background-color: #afafaf;
height: 850px;
width: 600px;
align-self: center;
position: absolute;
top: 88%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h3{
font-size: 28px;
color: rgb(12, 10, 5);
font: Georgia;
}
table, tr {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 550px;
}
td {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 900px;
}
td:hover {
  background-color: #718093;
  cursor:pointer;
  transform: scale(1.5);
}
th {
  border: 0px;
  background-color: #3d3d3d;;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 95vw;
}
#titletable {
  width: 100vw;
  width: 100%;
  height: auto;
}
  .imagethclass {
    background-color: #3d3d3d;;
    border: 2px solid;
  }
  #imageth13:hover, #imageth14:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);;
    
  }
.myworktext {
font-size: 20px;
color:burlywood;
}
.imageholder {
height: 1000px;
width: 1000px;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
}
.imageholder2 {
height: 130px;
width: 130px;
display: block;
margin: 0 auto;
}
#imageholder3{
height:97px;
width:190px;
display: block;
margin: 0 auto;
}
aside {
  position: center;
  height:100vh;
  width: 100vw;
}
#bookpic {
  height: 380px;
  width: 250px;
  align-self: center;
  position: absolute;
  top:60%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:none;

}
#bookpic:hover {
  background-color:transparent;
  cursor: pointer;
  display: flex;
  border: 1px black;
  position: absolute;
  transition: .3s ease;
  overflow: hidden;
  
 z-index: 1;
}
#DIV--TITLE {
    height: 480px;
    width: 200px;
    align-self: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    background-color: transparent;
}
#DIV--ABOUT {
  font-size: 50px;
}
#DIV--ABOUT:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}
#about-Intro{
  text-align: center;
  background-color: #8897aa;
  height: 570px;
  width: 340px;
  align-self: center;
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  header{
    height: 10px;
    width: 415px;
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #ffffff;
}
.template {
  width: 100vw;
  height: 100vh;
  background-color:#535c68;
  position: relative;
  overflow: hidden;
  } 
  nav {
  width: 10000px;
  height: 110px;
  background-color:transparent;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: space-around;
  }
  .nav-container{
      height: 10px;
      width: 95px;
      background-color: transparent;
      text-align: left;
      margin-left:-180%;
      margin-top: 10%;
      
  }
  .nav-text {
    font-size: 20px;
    background-color: transparent;
    color: wheat;
    float: center;
    text-align:center;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    margin-top: 50px;
    
}
.li--class{
  height: 10px;
  width: 200px;
}
.ulmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;
}
#section1 {
 height: 280px;
  width: 1650px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
    height: 70px;
    width: 70px;
    background-color: bisque;
    border-radius: 50%;
    margin-top:-20%;
  }
.img-container > #selfie {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
    
}
.namecard {
  align-self: center;
  height: 50px;
  width: 50px;
}
#namecardid{
  height: 80px;
  width: 160px;
  margin-top: 30%;
}
.skillset{
  margin-top: 15%;
}
.Intro {
  text-align: center;
}
#about-Intro{
text-align: center;
background-color: #8897aa;
height: 100px;
width: 300px;
align-self: center;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h2 {
  font-size: 18px;
  text-align: center;
  background-color: grey;
  margin-top: 20;
}
.skills {
  grid-area:main;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  height: 500px;
  width: 800px;
  width: 100%;
  background-color:transparent;
  display: flex;
  justify-content: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrap-circles {
  display: flex;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #535c68;
}

.circle {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 0.5rem;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#C9AB7E 25%,white 0);
}
.circle.per-50 {
  background-image: conic-gradient(#C9AB7E 50%, white 0);
}
.circle.per-75 {
  background-image: conic-gradient(#C9AB7E 75%, white 0);
}
.circle.per-100 {
  background-image: conic-gradient(#C9AB7E 100%, white 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  font-size: 0.80em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
.circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}
p{
  font-size: 9px;
}
h5 {
  font-size: 15x;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #c8d6e5;
  background-color:#3d3d3d;
}
#second-template {
  background-color:#2f3640;
}
.myname {
background-color: #afafaf;
height: 1000px;
width: 400px;
align-self: center;
position: absolute;
top: 88%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h3{
font-size: 28px;
color: rgb(12, 10, 5);
font: Georgia;
}
table, tr {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 300px;
}
td {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 900px;
}
td:hover {
  background-color: #718093;
  cursor:pointer;
  transform: scale(1.5);
}
th {
  border: 0px;
  background-color: #3d3d3d;;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 95vw;
}
#titletable {
  width: 100vw;
  width: 100%;
  height: auto;
}
  .imagethclass {
    background-color: #3d3d3d;;
    border: 2px solid;
  }
  #imageth13:hover, #imageth14:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);;
    
  }
.myworktext {
font-size: 20px;
color:burlywood;
}
.imageholder {
height: 1000px;
width: 1000px;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
}
.imageholder2 {
height: 98px;
width: 90px;
display: block;
margin: 0 auto;
}
#imageholder3{
height:60px;
width:120px;
display: block;
margin: 0 auto;
}
aside {
  position: center;
  height:100vh;
  width: 100vw;
}
#bookpic {
  height: 160px;
  width: 120px;
  align-self: center;
  position: absolute;
  top:20%;
 left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:none;

}
#bookpic:hover {
  background-color:transparent;
  cursor: pointer;
  display: flex;
  border: 1px black;
  position: absolute;
  transition: .3s ease;
  overflow: hidden;
  
 z-index: 1;
}
#DIV--TITLE {
    height: 480px;
    width: 200px;
    align-self: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    background-color: transparent;
}
#DIV--ABOUT {
  font-size: 50px;
}
#DIV--ABOUT:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}
#about-Intro{
  text-align: center;
  background-color: #8897aa;
  height: 570px;
  width: 340px;
  align-self: center;
  position: absolute;
  top: 60%;

  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
  }
}
@media (max-width: 365px) {
  .container {
    width: 100%;
  }
  header{
    height: 10px;
    width: 415px;
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #ffffff;
}
.template {
  width: 100vw;
  height: 100vh;
  background-color:#535c68;
  position: relative;
  overflow: hidden;
  } 
  nav {
  width: 10000px;
  height: 110px;
  background-color:transparent;
  position: fixed;
  display: flex;
  align-items: top;
  justify-content: space-around;
  }
  .nav-container{
      height: 10px;
      width: 95px;
      background-color: transparent;
      text-align: left;
      margin-left:-180%;
      margin-top: 10%;
      
  }
  .nav-text {
    font-size: 20px;
    background-color: transparent;
    color: wheat;
    float: center;
    text-align:center;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    margin-top: 50px;
    
}
.li--class{
  height: 10px;
  width: 200px;
}
.ulmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-text:hover
{
    color:#fbc531;
    text-align:center;
    background-color:transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    border: 1px black;
  
   z-index: 1;
}
#section1 {
    height: 150px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #718093;
}
.img-container {
    height: 70px;
    width: 70px;
    background-color: bisque;
    border-radius: 50%;
    margin-top:-20%;
  }
.img-container > #selfie {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
    
}
.namecard {
  align-self: center;
  height: 50px;
  width: 50px;
}
#namecardid{
  height: 75px;
  width: 145px;
  margin-top: 30%;
}
.skillset{
  margin-top: 15%;
}
.Intro {
  text-align: center;
}
#about-Intro{
text-align: center;
background-color: #8897aa;
height: 100px;
width: 300px;
align-self: center;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h2 {
  font-size: 18px;
  text-align: center;
  background-color: grey;
  margin-top: 20;
}
.skills {
  grid-area:main;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  height: 500px;
  width: 800px;
  width: 100%;
  background-color:transparent;
  display: flex;
  justify-content: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.wrap-circles {
  display: flex;
  min-height: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #535c68;
}

.circle {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
  border-radius: 50%;
  background: white;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#C9AB7E 25%,white 0);
}
.circle.per-50 {
  background-image: conic-gradient(#C9AB7E 50%, white 0);
}
.circle.per-75 {
  background-image: conic-gradient(#C9AB7E 75%, white 0);
}
.circle.per-100 {
  background-image: conic-gradient(#C9AB7E 100%, white 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  font-size: 0.50em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
.circle:hover {
  cursor: pointer;
  transform: scale(1.2);
}
p{
  font-size: 7px;
}
h5 {
  font-size: 15x;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #c8d6e5;
  background-color:#3d3d3d;
}
#second-template {
  background-color:#2f3640;
}
.myname {
background-color: #afafaf;
height: 1000px;
width: 350px;
align-self: center;
position: absolute;
top: 88%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px;
border:5px solid;
}
h3{
font-size: 15px;
color: rgb(12, 10, 5);
font: Georgia;
}
table, tr {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 300px;
}
td {
  background-color: #3d3d3d;
  border: 2px solid;
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 900px;
}
td:hover {
  background-color: #718093;
  cursor:pointer;
  transform: scale(1.5);
}
th {
  border: 0px;
  background-color: #3d3d3d;;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
  width: 95vw;
}
#titletable {
  width: 100vw;
  width: 100%;
  height: auto;
}
  .imagethclass {
    background-color: #3d3d3d;;
    border: 2px solid;
  }
  #imageth13:hover, #imageth14:hover {
    background-color: #718093;
    cursor:pointer;
    transform: scale(1.5);;
    
  }
.myworktext {
font-size: 20px;
color:burlywood;
}
.imageholder {
height: 1000px;
width: 1000px;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
}
.imageholder2 {
height: 50px;
width: 50px;
display: block;
margin: 0 auto;
}
#imageholder3{
height:60px;
width:120px;
display: block;
margin: 0 auto;
}
aside {
  position: center;
  height:100vh;
  width: 100vw;
}
#bookpic {
  height: 280px;
  width: 150px;
  align-self: center;
  position: absolute;
  top:60%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:none;

}
#bookpic:hover {
  background-color:transparent;
  cursor: pointer;
  display: flex;
  border: 1px black;
  position: absolute;
  transition: .3s ease;
  overflow: hidden;
  
 z-index: 1;
}
#DIV--TITLE {
    height: 480px;
    width: 200px;
    align-self: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border:none;
    background-color: transparent;
}
#DIV--ABOUT {
  font-size: 50px;
}
#DIV--ABOUT:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
}
#about-Intro{
  text-align: center;
  background-color: #8897aa;
  height: 270px;
  width: 240px;
  align-self: center;
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border:5px solid;
  }
}
